

<div class="communityList_wrapper">
      <div class="communityList_left">
        <h2>コミュニティ一覧</h2>
        <% @groups.each do |group| %>

        <div class="communityList_list">

          <div class="communityList_list_item">
            <img src="paper.jpg" alt="">
            <div class="communityList_list_item_text">
              <h3><%=link_to group.name, group_path(group) %></h3>
              <div class="communityList_list_item_tags">
                <a href="#"><i class="material-icons">local_offer</i>Node.js</a>
                <a href="#"><i class="material-icons">local_offer</i>React</a>
                <a href="#"><i class="material-icons">local_offer</i>Javascript</a>
                <a href="#"><i class="material-icons">local_offer</i>Redux</a>
              </div>
              <p><%= group.description %> 検討中の講座リスト： Javascript基礎 Node.js/Express基礎 React基礎 Redux基礎</p>
            
            </div>
          </div>

        <% end %>

        </div>
      </div>


      <div class="communityList_right">
        <div class="communityList_categories_wrapper">
          <h3>タグ検索</h3>
          <div class="communityList_categories">
            <ul>
              <li><a href="#"><i class="material-icons">local_offer</i>Node.js</a></li>
              <li><a href="#"><i class="material-icons">local_offer</i>Node.js</a></li>
              <li><a href="#"><i class="material-icons">local_offer</i>Node.js</a></li>
              <li><a href="#"><i class="material-icons">local_offer</i>Node.js</a></li>
              <li><a href="#"><i class="material-icons">local_offer</i>Node.js</a></li>
              <li><a href="#"><i class="material-icons">local_offer</i>Node.js</a></li>
              <li><a href="#"><i class="material-icons">local_offer</i>Node.js</a></li>
              <li><a href="#"><i class="material-icons">local_offer</i>Node.js</a></li>
              <li><a href="#"><i class="material-icons">local_offer</i>Node.js</a></li>
              <li><a href="#"><i class="material-icons">local_offer</i>Node.js</a></li>
              <li><a href="#"><i class="material-icons">local_offer</i>Node.js</a></li>
              <li><a href="#"><i class="material-icons">local_offer</i>Node.js</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
