


<div class="container">
  <div class="community-form-wrapper">

    <%= form_with model: @group ,local: true do |form| %>
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, placeholder: "タイトル", class: "form-control" %>
      </div>

      <%= form.submit "コミュニティを作成する", class: "btn btn-info" %>
    <% end %>


  </div>
</div>
