<div class="event_wrapper">
  <div class="container">
    <div class="main_content">
      <div class="event_title_wrap">
        <h2 class="event_show_title">
          <span class="event_date_budge">
            <p class="month">10月</p>
            <p class="day">22</p>
          </span>
          <%= @event.title %>
        </h2>
        <div class="thumbnail" style="background-image: url(<%= @event.image %>)">
        </div>
      </div>
      <div class="event_detail_wrap">

      </div>
    </div>
    <div class="side_content">
      <div class="event_location_wrap">
        <h3><%= icon "fas", "map-marker-alt", class: "mr-2" %>会場</h3>
        <p><%= @event.location %></p>
        <div class="google_map">

        </div>
      </div>
      <div class="event_date_wrap">

      </div>
      <div class="event_owner_wrap">

      </div>
      <div class="event_paticipation_wrap">

      </div>
    </div>
  </div>
</div>
