<div class="event-wrapper">
  <div class="container">
    <div class="main_content">
      <div class="event_title_wrap">
        <div class="event_date_budge">

        </div>
        <h2 class="event_title"></h2>
        <%= image_tag(event.image) %>
      </div>
      <div class="event_detail_wrap">

      </div>
    </div>
    <div class="side_content">

    </div>
  </div>
</div>
