<div class="intern-wrapper">
  <div class="container">
    <div class="intern-main">
      <%= image_tag (@intern.image), class:"img-fluid" %>
      <h1 style="margin: 100px"><%= @intern.title  %></h1>
      <p><%= @intern.company %></p>
    </div>
    <div class="intern-menu">
        <div class="intern-menu">
          <%= link_to "参加する", @intern.url %>
        </div>

        <div class="d-flex justify-content-center">
        </div>
          <div class="intern-participants">
          </div>
        </div>
    </div>
  </div>
