// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.comclass

* {
  padding: 0;
  margin: 0;
}


.event_wrapper {
  margin-bottom: 100px;
  .container {
    display: flex;
  }
}

.main_content {
  width: 70%;
}

.side_content {
  width: 30%;
}

.date_bar {
  width: 100%;
  height: 30px;
  background: #2680EB;
  border-radius: 5px;
  color: white;
  padding: 0 30px;
  line-height: 30px;
  margin: 20px 0;
}

.events {
  h3 {
    text-align: center;
    margin: 30px;
    color: #707070;
  }
}

.event {
  display: flex;
  padding: 15px 0 15px 15px;
  border-bottom: 1px solid #e9e9e9;
}

.event_image {
  min-width: 220px;
  min-height: 130px;
  margin-right: 30px;
  position: relative;
  img:hover {
    opacity: 0.7;
  }
}

.site_logo {
  position: absolute;
  top: 50px;
  left: 60px;
}

.event_detail {
  width: 600px;
  border-left: 1px solid #e9e9e9;
  padding-left: 20px;
  position: relative;
}

.event_title {
  display: inline-block;
  color: #212529;
  text-decoration: none;
  font-size: 20px;
  width: 75%;
}

.event_time {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 10px;
  border-radius: 4px;
  background: #2680EB;
  color: white;
}

.event_title:hover {
  text-decoration: none;
  color: #212529;
  opacity: 0.8;
}

.event_address {
  font-size: 16px;
  i {
    margin-right: 5px;
  }
  p {
    display: inline-block;
  }
}

.event_site {
  position: absolute;
  top: 0;
  right: 0;
}

.event_title_wrap {
  background: #f5f5f5;
  padding: 10px;
  width: 708px;
  margin: 0 auto 20px auto;
  border-radius: 4px;
  .event_show_title {
    font-size: 28px;
    position: relative;
    padding: 0 0 20px 63px;
    border-bottom: 3px dotted #d5d5d5;
    margin-bottom: 18px;
  }
  .event_date_budge {
    min-width: 24px;
    min-height: 40px;
    background-color: #2680EB;
    display: inline-block;
    color: #fff;
    padding: 6px 13px;
    border-radius: 4px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    .month {
      font-size: 0.3em;
    }
    .day {
      font-size: 0.7em;
    }
  }
  .thumbnail {
    background: white;
    width: 660px;
    height: 270px;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    text-align: center;
    overflow: hidden;
  }
}

.event_detail_wrap {
  background: #f5f5f5;
  padding: 10px;
  min-height: 20px;
  width: 708px;
  margin: 0 auto;
  border-radius: 4px;

  .event_detail_content {
    background: white;
    padding: 10px;
  }

  .event_detail_btn {
    margin: 20px auto;
    width: 200px;
    text-align: center;
    background: #1C2DFF;
    border-radius: 5px;
    padding: 5px;
    a {
      color: white;
    }
  }
}

.event_location_wrap {
  background: #f5f5f5;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  h3 {
    text-align: center;
  }
  .event_location {
    font-weight: bold;
    padding-bottom: 5px;
  }
  .event_address {
    font-size: 12px;
  }

  #map {
    height: 300px;
    margin: 20px auto 0 auto;
  }
}


.event_date_wrap {
  background: #f5f5f5;
  padding: 10px;
  border-radius: 4px;
  .event_date_status{
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    p {
      color: white;
    }
  }
  .event_date_content {
    background: white;
    text-align: center;
    padding-bottom: 40px;
    .event_date {
      font-size: 24px;
    }
    .event_started_at {
      font-size: 24px;
      display: inline;
    }
    .event_ended_at {
      display: inline;
    }
  }
}
