// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin: 0;
  padding: 0;
}

.btn--basic {
  width: 20%;
  margin: 8vh 100px;
  padding: 10px;
  border: 2px solid blue;
  border-radius: 50px;
  text-align: center;
  font-size: large;
  color: black;
}
