// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap"; 

* {
  margin: 0;
  padding: 0;
}

html {
  overflow: auto;
}

body {
  overflow: hidden;
  min-width: 100%;
}

.btn--basic {
  width: 20%;
  margin: 8vh 100px;
  padding: 10px;
  border: 2px solid blue;
  border-radius: 50px;
  text-align: center;
  font-size: large;
  color: black;
}

.card--basic {
  max-width: 40%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.event-main {
  margin: 100px auto;
  text-align: center;
}

.event-menu {
  text-align: center; 
  margin-bottom: 100px;
}

.event-participants {
  border: solid 1px #DDD;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 50px auto;
  width: 800px;
  height: 100px;
}

.pagination {
  text-align: center;
}
