// Place all the styles related to the internships controller here.
// They will automatically be included in application.css.
@import "bootstrap"; 

.vuc {
}

* {
  margin: 0;
  padding: 0;
}

html {
	overflow: auto;
}

body {
  overflow: hidden;
  min-width: 100%;
}

.center {
  text-align: center;
}

.top-image{
  width: 80%; 
  height: auto;
  margin-top: 5vh;
  object-fit:cover;
}

.thumbnail{
  width: 100%; 
  height: 100%;
  object-fit:cover;
}

.btn--basic {
  width: 20%;
  margin: 8vh 100px;
  padding: 10px;
  border: 2px solid blue;
  border-radius: 50px;
  text-align: center;
  font-size: large;
  color: black;
}

.card--basic {
  max-width: 40%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.internship-main {
  margin: 100px auto;
  text-align: center;
}

.internship-menu {
  text-align: center; 
  margin-bottom: 100px;
}

.internship-participants {
  border: solid 1px #DDD;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 40px auto;
  width: 80%;
}

.pagination {
  text-align: center;
}
