// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-form-wrapper {
  margin: 100px auto;
}

.registration-btn, .login-btn {
  margin: 30px auto;
}

.registration-btn a, .login-btn a {
  display: block;
  width: 250px;
  height: 50px;
  margin: 0 auto;
}

.user-login-wrapper {
  margin: 100px auto;
  width: 800px;
}

// ゆーざー詳細画面

.user_wrapper {
  margin-bottom: 100px;
  .container {
    display: flex;
  }
}

.user_status {
  border: solid 1px #707070;
  display: flex;
  .status_content {
    border-left: solid 1px #707070;
    padding: 20px;
    width: 33%;
  }
  .user_name {
    img {
      border-radius: 25px;
    }
    p {
      display: inline-block;
      font-size: 18px;
    }
  }
}

// ユーザー詳細　サイドバー

.user_profile {
  border: solid 1px #707070;
}
