<footer class="page-footer font-small blue pt-4">
  <div class="container">
    <h1>Career Walk</h1>
    <ul>
      <li>
        <a href="#" class="footer-link">運営会社</a>
      </li>
      <li>
        <a href="#" class="footer-link">利用規約</a>
      </li>
      <li>
        <a href="#" class="footer-link">お問い合わせ</a>
      </li>
      <li>
        <a href="#" class="footer-link">プライバシーポリシー</a>
      </li>
    </ul>
    <small>c Gude.Inc, All rights reserved.</small>
  </div>  
</footer>
