<footer class="footer--basic">
  <div class="d-flex btn-group--basic">
    <%= link_to image_tag("home.png", width: '50', height: '50'), events_index_path, id: "home_btn", class:" btn--color flex-fill align-items-center justify-content-center d-flex"%>
    <%= link_to image_tag("search.png", width: '50', height: '50'), events_index_path, id: "search_btn", class:"btn--color flex-fill align-items-center justify-content-center d-flex"%>
    <%= link_to "Test", events_index_path, id: "test_btn", class:"btn--color flex-fill align-items-center justify-content-center d-flex"%>
  </div>
</footer>
