<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarNav">
      <a class="navbar-brand" href="/" style="color: deepskyblue">Career<strong style="colro:#6688FF">Walk</strong></a>
      <div class="navbar-nav btn-group mr-auto" role="group">
        <%= link_to "インターンシップ", root_path, class: "btn btn-info active", id: "intern", style: "color: white", onclick: "clk(1)" %>
        <%= link_to "勉強会", events_index_path, class: "btn btn-info", id: "std", style: "color: white", onclick: "clk(0)" %>
      </div>
    </div>
  </div>
</nav>
