<header class="sticky-top header--basic">
  <!--div class="img-thumbnail"  style="height:8vh; width: 8vh; border-radius: 50%; margin: 1vh;" onclick="location.href='/'"--><!--/div-->
  <%= link_to "Login", events_index_path, class:"login-btn--basic btn btn-lg btn-outline-info"%>
  <span class="title--basic">
    Gudenal
  </span>
</header>
<!--nav class="navbar navbar-expand-lg navbar-light bg-light"-->
<!--role="group"-->

<!--%= form_for @job do |form|%-->
<!--%= form.text_field :name%-->
<!--%= form.text_field :publish_start_at%-->
<!--%= form.submit %-->
<!--% end %-->
<!--%= form_for @lesson do |form|%-->
<!--%= form.text_field :name%-->
<!--%= form.text_field :publish_start_at%-->
<!--%= form.submit %-->
<!--% end %-->
<!--%= link_to "user", user_index_path, class: "btn btn-info", id: "std", style: "color: white", onclick: "clk(0)" %-->

<!--/nav-->
